[user]
    name = Roberto Bampi
    email = bampi.roberto@gmail.com

[alias]
    co = checkout
    ci = commit
    s = status
    a = add
    d = diff
    p = pull --rebase
    log-tree = log --oneline --decorate --all --graph

[color]
    ui = true

[push]
    default = simple
