[user]
    name = Roberto Bampi
    email = bampi.roberto@gmail.com

[alias]
    co = checkout
    ci = commit
    s = status
    a = add
    d = diff

[color]
    ui = true

[push]
	default = simple
[core]
	quotepath = false
