[user]
    name = Roberto Bampi
    email = bampi.roberto@gmail.com

[alias]
    co = checkout
    ci = commit
    s = status
    a = add
    d = diff
    p = pull --rebase

[color]
    ui = true

[push]
    default = simple
